@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 1200px;
    background-color: rgb(85, 76, 76);
    font-family: "poppins";
}
h1{
    text-align: left; 
    font-size: 30px;
    color: rgb(206, 204, 202);
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: auto; 
    justify-content: space-around;
    gap: 30px;
    
}
.container{
    display: grid;
    align-items: center;  
    justify-content: space-around;
}
.container img{
    width: 300px;
    height: 300px;
    padding: 20px;
}
.name{
    font-size: 30px;
    margin-top: -165px;
    margin-left: -20px;
    color: white;
}
.id{
    font-size: 20px;
    color: rgb(236, 234, 234);
    margin-top: 0px;
    text-align: center;
}
.title{
    display: none;
}

.container:hover .title{
    display: block;
}
.container:hover .name{
    font-size: 30px;
    color: rgb(228, 224, 224);
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
}
